# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.*
!.editorconfig
!.eslintignore
!.eslintrc.json
!.gitignore
!.prettierrc.json
!.travis.yml
*.log
build
node_modules
tests/**/*.mp4
